* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --secondary-color: #ff6e65;
    --font-color: #707070;
    --border-color-light: #eee;
    --bg-color:#fff;
    --heading-color: #060606;
    --box-shadow-color: rgb(4 20 69 / 10%);
    --primary-color: #0d369f;
    --white-color:#fff;
}
html,body{
    font-size: 16px;
    /* color: var(--heading-color); */
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    transition: .5s all;
}
h1,h2,h3,h4,h5,h6{
    color: var(--heading-color);
}
p{
    color: var(--font-color);
}
ul li{
    list-style-type: none;
}
.container{
    max-width: 1200px;
}
.right-sidebar{
    width: 7%;
    position: fixed;
    top: 40%;
    right: 0;
    z-index: 100;
    transition: all .5s ease-in-out;
    overflow-y: auto;
}
.right-sidebar .demo-bar{
    padding: 40px 5px;
    padding-top: 70px;
    margin-bottom: 70px;
    background: #0D1326;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
}

/* STATS */
h3.text_title_h3{
    font-weight: 600;
    line-height: 3.1rem;
    position: relative;
}
h3.text_title_h3::before,
h3.text_title_h3::after
{ 
    content: "";
    width: 3.75rem;
    height: 2px;
    position: absolute;
    background: var(--font-color);
    right: 0;
    margin:0 auto
}
h3.text_title_h3::before{
    left: -20px;
    bottom: -8px;
}
h3.text_title_h3::after{
    left: 20px;
    bottom: -15px;
}
h3.text_title_h3 span{
    color: var(--secondary-color);
}
.stats p.text_title_p{
    color: var(--font-color);
}
.stats .stats_body .stats_item{
    border-right: 1px solid var(--border-color-light);
}
.stats .stats_body h1{
    font-weight: 600;
}
.stats .stats_body .stats_p{
    text-transform: uppercase;
    color: var(--heading-color);
}
.counter {
    animation-duration: 1s;
    animation-delay: 0s;
}
.feedback_item{
    background-color: var(--bg-color);
    box-shadow: 0 20px 62px var(--box-shadow-color);
    padding: 2rem;
}
.feedback_text q{
    color: var(--font-color);
}
.feedback_text q::before{
    font-size: 50px;
    color: var(--secondary-color);
    line-height: .8;
    padding-top: 8px;
    display: inline-block;
}
.feedback .feedback_item .feedback_content{
    grid-template-columns: .3fr 1fr;
    align-items: center;
    grid-gap: 5px;
    margin-top: 1.5em;
}
.feedback .feedback_content .right h5{
    font-weight: 600;
    line-height: 10px;
}
.feedback .feedback_content .right p{
    font-size: 0.8rem;
    color: var(--font-color);
}
/* INSTRUCTORS */
.instructors .leader{
    box-shadow: 0 20px 62px var(--box-shadow-color);
    padding: 10px;
    background: var(--bg-color);
}
.instructors .leader .head{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.instructors .leader .head img{
    border-radius: 10px 10px 0 0;
}
.instructors .leader .info{
    position: absolute;
    bottom: -200px;
    left: 0;
    background: rgb(8 8 8 / 29%);
    padding: 20px;
    width: 100%;
    transition: .5s all;
}
.instructors .leader:hover .info{
    bottom: 0;
}
.instructors .leader .info a{
    background-color: var(--bg-color);
    width: 28px;
    height: 28px;
    display: inline-block;
    border-radius: 50%;
}
.instructors .leader .info a i{
    color: var(--primary-color);
    font-size: 0.9rem;
    line-height: 29px;
}
.instructors .leader .title h5{
    color: var(--secondary-color);
    font-weight: 600;
}
.instructors .leader .title p{
    font-size: 0.8rem;
}

/* QUESTION */
.question .right h3{
    font-weight: 600;
    line-height: 3.1rem;
}
.question .right p{
    letter-spacing: 0.025rem;
}
.btn-style-secondary{
    background-color: var(--secondary-color);
    color: var(--white-color);
    transition: 0.3s ease-out;
}
a.btn-style-secondary:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
    transition: 0.3s ease-out;
}
.btn-style{
    padding: 14px 30px;
    font-weight: 600;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
}

/* FOOTER */
.footer_sub{
    background-color: #060e1f;
}
.footer .footer_sub .form_mail{
    padding: 50px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 10px;
    background: var(--bg-color);
    position: absolute;
    left: 0;
    right: 0;
    top: -60px;
    box-shadow: 0px -1px 41px 0px rgb(21 22 23 / 8%);
}
.footer h4.title_head{
    font-size: 35px;
    line-height: 40px;
    color: var(--heading-color);
    font-weight: 600;
}
.footer .rightside-form{
    display: flex;
}
.footer .main-mid input{
    background: transparent;
    padding: 15px 20px;
    color: var(--heading-color);
    width: 100%;
    border-radius: 8px 0px 0px 8px;
    height: 55px;
    border: 1px solid var(--border-color-light);
}
.footer .main-mid button{
    background: var(--primary-color);
    border: none;
    color: #fff;
    padding: 16px 30px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 0 8px 8px 0;
}

@media (max-width:440px){
    .footer .rightside-form{
        display: flex;
        flex-wrap: wrap;
    }
    .footer .main-mid button{
        padding: 15px;
        width: 100%;
        margin: 1rem 0;
    }
}
.sub-columns{
    margin-top: 120px;
}
.footer .sub-two-right h6{
    color: var(--white-color);
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;  
}
.footer .sub-two-right ul{
    padding: 0;
}
.footer .sub-two-right ul li a{
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin: 0 0 10px 0;
    display: block;
}
.footer .sub-two-right ul li a span{
    color: var(--white-color);
}
.mr-2{
    margin-right: 0.5rem;
}
.footer .sub-one-left h6{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}
.footer .sub-one-left span{
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}
.footer .sub-one-left a{
    text-decoration: none;
    color: #cecece;
    line-height: 25px;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
}
.footer .sub-one-left .column2 .href2{
    margin-top: 10px;
    padding: 10px 0;
}
.footer .sub-one-left p{
    font-size: 14px;
    line-height: 24px;
    color: #cecece;
    margin-top: 10px;
}
.footer .sub-one-left p span{
    font-size: 18px;
    color: #fff;
    vertical-align: middle;
    margin-right: 10px;
    width: 25px;
    text-align: center;
}

.footer .border-left{
    border-left: 1px solid rgb(64 73 82 / 51%);
}
.footer .border-left h6{
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(23, 54, 88, 0.4);
    padding-bottom: 10px;
    font-weight: bold;
}
.footer .border-left p{
    color: #cecece;
}
.footer .columns-2{
    margin-top: 1.2rem;
}
.footer .columns-2 ul li{
    display: inline-block;
    margin-left: 5px;
}
.footer .columns-2  ul li a{
    color: #fff;
    width: 35px;
    height: 35px;
    background: rgba(255, 255, 255, 0.06);
    display: inline-block;
    border-radius: 50%;
    text-align: center;
}
.footer ul.social li a span {
    font-size: 15px;
    line-height: 35px;
}
  @media (min-width: 992px) {
    .pl-lg-5{
        padding-left: 3rem !important;
    }
  }
